/* Our default values set as CSS variables */
:root {
  --color-bg: #000000;
  --color-text-main: #FF0000;
  --color-primary: #FFFFFF;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 5rem;
  --font-family: "HKGrotesk";
  --font-family-header: "HKGrotesk";
}

@font-face {
  font-family: HKGrotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HKGrotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: HKGrotesk;
  background-color: var(--color-bg);
}

header {  
  color: #FF0000;      
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 105%;
  margin: 12px 0 12px 0;  
  border-bottom: 4px solid #fff;
  text-align: center;
}

footer {
  color: #FF0000;
  font-size: 14px;
  justify-content: space-between;
  margin: 12px 0 12px 0;
  width: 100%;
  border-top: 4px solid #fff;
}

main div {
  color: #FF0000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 12px 0 0 0;
}

input{
  background-color: white;  
}

main div * {
  margin: 6px 6px 6px 6px;
}

[hidden] {
  display: none !important;
}

button  {
  font-family:HKGrotesk;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #FF0000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: ##FFFFFF;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

div {
  margin: 12px 0 12px 0;  
}

img {
  max-width: 170px;
}

